@import url('../../styles/variables.css');

.topbar {
  position: absolute;
  z-index: 1;
}

.sidebar {
  position: absolute;
  z-index: 1;
}

.HomePerson .Hive {
  position: absolute;
  top: -30px;
  left: 364px;
  width: 523px;
  height: 317px;
}

.textTypes {
  position: absolute;
  top: 137.86px;
  left: 1018.67px;
  width: 737.33px;
  height: 655.61px;
}

.textTypes .title {
  width: 737.33px;
  height: 213px;
}

.textTypes .text {
  position: absolute;
  top: 260.67px;
  width: 737.33px;
  height: 306.23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.textTypes .title h1 {
  font: 700 97px/100.44px sans-serif; /* shorthand para font-weight, font-size e line-height */
  background-image: linear-gradient(
    270deg,
    var(--color-primary-pink) 21%,
    var(--color-primary-purple) 75%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textTypes .text p {
  font-weight: 400;
  font-size: 27.5px;
  line-height: 31.02px;
  color: var(--color-text-global-gray);
}

.textTypes .text p strong {
  font-weight: 700;
}

.HiveBlackOne {
  position: absolute;
  top: 13px;
  left: 939px;
  width: 256px;
  height: 155px;
}

.HiveBlackTwo {
  position: absolute;
  top: 109px;
  left: 1285px;
  width: 161px;
  height: 98px;
}

.HiveBlackThree {
  position: absolute;
  top: 112px;
  left: 1657px;
  width: 192px;
  height: 118px;
  opacity: 0.4;
}

.DotText {
  position: absolute;
  top: 149px;
  left: 1657px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: var(--color-primary-pink) solid;
}
.containerBtn {
  position: absolute;
  top: 608px;
}

